ul {
  list-style-type: "\1F310";
}

li {
  padding: 10px 0;
  display: inline-block;
  min-width: 50%;
  font-size: clamp(0.75rem, 1rem, 3rem);;
}

span {
  font-weight: bold;
  color: var(--main-fuschia);
}

p {
  font-size: 18px;
  text-align: center;
  margin: 0 5px;
}



.emoji, .emojiDown {
  font-size: 30px;
}

.lg-view{
  display: none;
}

.sm-view{
  display:inline-block;
}

@media screen and (min-width:915px) {
  :root {
    height: 90vh;
    max-width: 25%;
  }

  .list {
    margin-top: 30%;
  }

  .placeholder {
    position: absolute;
    top: 45%;
  }

  .lg-view{
    display:inline-block;
 }
 
 .sm-view{
    display:none;
 }
}

@media screen and (max-width:530px) {
  .list {
    margin-top: 10px;
  }
  ul {
    padding: 7px;
  }
  li {
    max-width: 45%;
    padding: 10px 0 0 0;
  }
}