.list {
  margin-top: 20%;
}

li {
  padding: 10px;
}

ul {
  list-style-type: "\1F310";
}

span {
  font-weight: bold;
  color: var(--main-fuschia);
}

p {
  font-size: 18px;
}

.emoji {

  font-size: 30px;
}