.list {
  margin-top: 20%;
  width: 385px;
}

ul {
  list-style-type: "\1F310";
}

li {
  padding: 10px;
  width: 100%;
}

span {
  font-weight: bold;
  color: var(--main-fuschia);
}

p {
  font-size: 18px;
  text-align: center;
}

.emoji {
  font-size: 30px;
}