.container {
  height: 90vh;
  width: 100vw;
  display: flex;
}

svg {
  max-width: 70%;
  border: 2px solid var(--main-fuschia);
  margin: 15px 0 15px 15px;
  padding: 10px;
}

svg:hover path {
  cursor: pointer;
  stroke: var(--main-fuschia);
}

path:hover {
  fill: var(--main-fuschia);
}

